<div class="poem_view">
  <div class="element">
    <p>С днем рождения поздравляем<br />
      И от всей души желаем:<br />
      Счастья — море через край,<br />
      Любви — ладони подставляй,<br />
      Здоровья — чтоб на всё хватило,<br />
      Чтоб жизненная была сила!<br />
      Всех исполнения желаний<br />
      И радостных всегда гуляний,<br />
      Подарков самых разных,<br />dvs
      Друзей верных, прекрасных!
    </p>
  </div>
  <div class="element">
    <p>С днем рождения поздравляем<br />
      И от всей души желаем:<br />
      Счастья — море через край,<br />
      Любви — ладони подставляй,<br />
      Здоровья — чтоб на всё хватило,<br />
      Чтоб жизненная была сила!<br />
      Всех исполнения желаний<br />
      И радостных всегда гуляний,<br />
      Подарков самых разных,<br />
      Друзей верных, прекрасных!
    </p>
  </div>
  <div class="element">
    <p>С днем рождения поздравляем<br />
      И от всей души желаем:<br />
      Счастья — море через край,<br />
      Любви — ладони подставляй,<br />
      Здоровья — чтоб на всё хватило,<br />
      Чтоб жизненная была сила!<br />
      Всех исполнения желаний<br />
      И радостных всегда гуляний,<br />
      Подарков самых разных,<br />
      Друзей верных, прекрасных!
    </p>
  </div>
</div>